

#sideCard
{
position: fixed;
z-index: 10000;
top: 0;
left: 0;
height: 100%;
width: 30em;
background-color: #111;
overflow: hidden;
transition:all 0.5s;
transform: translateX(-100%);
}


#markerDescription
{
    color: aliceblue;
    display: block;
    width: 80%;
    margin: 2em auto;
}

@keyframes opacity {
    0%{
        opacity:0;
    }
    /* 50%{
        opacity: 0;
    } */
    100%{
        opacity:1;
    }
}

.opacity {
    animation-name: opacity;
    animation-duration:1s;
    animation-timing-function: ease-in;
    
}

#markerImage
{

   width: 100%; 
}


#closeIcon
{
display: block;
width: 1em;
align-self: flex-end;
margin-inline-end: 1em;
}