

#sideCard
{
position: fixed;
z-index: 10000;
top: 0;
left: 0;
height: 100%;
width: 0px;
background-color: #111;
overflow: hidden;
transition: 0.5s;

}

#markerWrapper
{
    min-width: 250px;
}
#markerDescription
{
    color: aliceblue;
    display: block;
    
    width: 30em;

}


#markerImage
{

   width: 250px; 
}


#closeIcon
{
display: block;

width: 1em;
align-self: flex-end;
margin-inline-end: 1em;
}