/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Fira-Sans", sans-serif;
  line-height: 1.5em;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#projectInfoWrapper {
  position: fixed;
  z-index: 10001;
  bottom: 2em;
  left: 4em;
}

#header {
  /* background-color: white; */
  padding: 0.5em;
  border-radius: 0.5em;
  position: fixed;
  z-index: 10001;
  top: 0.3em;
  left: 3em;
}

#headerContentWrapper {
  height: 4em;
  display: inline-block;
}
#header a{
text-decoration: none;
color: black;
margin-left: 0.5em;
font-size: 1.5em;
vertical-align: baseline;
}

#header a:hover {
    text-decoration: underline;
}

#headerContentWrapper img {
  height: 80%;
  display: inline-block;
  vertical-align: bottom;
}
#headerContentWrapper h2 {
  top: 100%;
  display: inline-block;
  font-family: Montserrat;
  color: black;
  /* color: rgb(36, 76, 129); */
  /* text-shadow:  0em 0.025em 2px rgba(0,0,0, .3); */
  font-weight: 900;
  font-size: 2em;
  vertical-align: baseline;
}
#mapid {
  width: 100%;
  height: 100vh;
}

#sideCard {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  height: 100%;
  width: 30em;
  background-color: rgba(3, 18, 203, 0.8);
  overflow: hidden;
  transition: all 0.5s;
  transform: translateX(100%);
}

#markerHeader {
  color: white;
  display: block;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

#markerDescription {
  color: white;
  display: block;
  width: 80%;
  margin: 2em auto;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  /* 50%{
        opacity: 0;
    } */
  100% {
    opacity: 1;
  }
}

.opacity {
  animation-name: opacity;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

#markerImage {
  width: 100%;
}



#closeIcon {
  display: block;
  width: 1em;
  align-self: flex-end;
  margin-inline-end: 1em;
}
